<div class="container mt-3">
  <h2>Editar Pessoa</h2>
  <form [formGroup]="personForm">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" formControlName="nome" [class.is-invalid]="exibeErro('nome')" name="nome">
    </div>
    <div class="form-group">
      <label for="perfil">Perfil</label>
      <input type="text" class="form-control" id="perfil" formControlName="perfil" [class.is-invalid]="exibeErro('perfil')" name="perfil">
    </div>
    <div class="form-group">
      <label for="idade">Idade</label>
      <input type="number" class="form-control" step="1" id="idade" formControlName="idade" [class.is-invalid]="exibeErro('idade')" name="idade">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" [class.is-invalid]="exibeErro('email')" name="email">
    </div>
    <div class="form-group">
      <label for="pais">País</label>
      <input type="text" class="form-control" id="pais" formControlName="pais" [class.is-invalid]="exibeErro('pais')" name="pais">
    </div>
    <div class="form-group">
      <label for="nivelExperiencia">Nível de Experiência</label>
      <input type="text" class="form-control" id="nivelExperiencia" formControlName="nivelExperiencia" [class.is-invalid]="exibeErro('nivelExperiencia')" name="nivelExperiencia">
    </div>
    <div class="form-check">
      <label for="ativo" class="form-check-label">Ativo</label>
      <input type="checkbox" class="form-check-input" id="ativo" formControlName="ativo" name="ativo">
    </div>

    <button type="submit" class="btn btn-primary me-2" (click)="save()">Salvar</button>
    <button type="button" class="btn btn-danger" (click)="goBack()">Cancelar</button>
    
  </form>
</div>